.custom-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.header {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border-radius: 6px 6px 0 0;
}

.photo {
    width: 100px;
    text-align: center;
}

.name {
    flex: 1;
    padding: 10px;

}

.gender {
    width: 100px;
    text-align: center;
}
  
